{
  "printWidth": 100,
  "tabWidth": 4,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",

  "overrides": [
    {
      "files": "README.md",
      "options": {
        "proseWrap": "preserve"
      }
    },
    {
      "files": [".prettierrc", "*.json", "*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
