name: Vite Build

on:
  workflow_dispatch: # 수동으로 실행 가능
  pull_request: # PR이 열릴 때마다 실행
    branches:
      - main

permissions:
  contents: write # 레포지토리 콘텐츠에 대한 쓰기 권한
  actions: read # 액션에 대한 읽기 권한
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      VITE_COGNITO_USER_POOL_ID: ${{ secrets.VITE_COGNITO_USER_POOL_ID }}
      VITE_COGNITO_CLIENT_ID: ${{ secrets.VITE_COGNITO_CLIENT_ID }}
      VITE_TEST_USERNAME: ${{ secrets.VITE_TEST_USERNAME }}
      VITE_TEST_PASSWORD: ${{ secrets.VITE_TEST_PASSWORD }}
      VITE_PUBLIC_URL: ${{ vars.VITE_PUBLIC_URL }}
      VITE_DOMAIN: ${{ vars.VITE_GH_PAGE_DOMAIN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm ci # 의존성 설치

      - name: Lint code
        run: npm run lint # 린트 실행

      - name: Test code
        run: npm run test:coverage # 테스트 실행

      - name: Documentation
        run: npm run docs # 문서 빌드

      - name: Build Vite project
        run: npm run build # Vite 프로젝트 빌드

      - name: Upload Artifact
        uses: actions/upload-artifact@v4 # 아티팩트를 업로드하는 액션
        with:
          name: build-artifact # 아티팩트 이름
          path: dist
